<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        {%with messages = get_flashed_messages()%}   
        {%if messages%}
        <ul>
            
            {%for message in messages%}
                <li>{{message}}</li>
            {%endfor%}
        </ul>
        {%endif%}
        {%endwith%}

        <h1>Welcome {{name}}!</h1>
        <a href="www.google.com">not google</a>
        <ul>
            {% for city in city_names %}
                <li>
                    {{city}}<br>
                </li>
            {% endfor %}
        </ul>
        <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

<!-- 
        <form action="" method="post"><br>
            <label for="fname">City Name</label><br><br>
            <input type="char" id="fname" name="fname" maxlength="32"><br><br>
            <input type="submit" value="Submit">
        </form> -->
    </body>
</html> 
