<!DOCTYPE html>
<body>
    <ul>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </ul>
    
    <h1>Welcome {{name}}!</h1>
    <a href="www.google.com">not google</a>

    <ul>
        {%for i in city_names %}
        <li>
            {{i}}<br>
        </li>
        {%endfor%}
    </ul>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <!-- <form action="" method="POST"><br>
        <label for="cname">City Name</label><br><br>
        <input type="text" id="cname" name="cname" maxlength="32"><br><br>
        <input type="submit" id ="" value="submit">
    </form> -->
</body>
</html>