<!DOCTYPE html>
<body>
    <ul>
        {%if request.method =="POST"%}
            <li>{{added}}</li>
        {%endif%}
    </ul>
    
    <h1>Welcome {{name}}!</h1>
    <a href ="www.google.com">notgoogle</a>

    <ul>
        {%for i in range(0, len) %}
        <li>
            {{city_names[i]}}<br>
        </li>
        {%endfor%}
    </ul>
    
    <form action="" method="POST"><br>
        <label for="cname">City Name</label><br><br>
        <input type="text" id="cname" name="cname" maxlength="32"><br><br>
        <input type="submit">
    </form>
</body>
</html>