<!-- Worked with Pranav Arora and Bhagyesh Rathi -->
<!DOCTYPE html>
<body>
    
    {% with text = get_flashed_messages() %}
    {% if text %}
    <ul>
        {% for message in text %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>Welcome {{name}}!</h1>
    <a href="www.google.com">not google</a>

    <ul>
        {%for city in city_names %}
        <li>{{city}}</li>
        {%endfor%}
    </ul>
    <form action="" method="POST" >
        {{ cityform.hidden_tag() }}
        <p>
            {{ cityform.city.label }}<br>
            {{ cityform.city(size=32) }}
        </p>
        <p>{{ cityform.submit() }}</p>
    </form>
    
</body>
</html>